/* Login page */
.login-tab-container {
	background-color: #e5ecf3;
	padding: 0.4rem 0.1rem;
	border-radius: 10px;
	width: 100%;
	display: flex;
	align-items: center;
}

.btn.login-tab-btn {
	width: 100%;
	background-color: transparent !important;
	color: #899fb3 !important;
	border-radius: 7px !important;
}

.btn.login-tab-btn.active,
.btn.login-tab-btn:hover {
	background-color: #FFFFFF !important;
	color: var(--primary-text-color) !important;
	box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.5);
}

.login-form-container {
	background-color: var(--secondary-bg-color);
	border-radius: 10px;
	box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.5);
	padding: 1rem;
}

/* Category input toggle */
.category-toggle-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0.5rem;
}

.category-toggle-label {
	font-size: var(--sm-text-size);
	color: var(--secondary-text-color);
}

.form-error-msg {
	color: var(--error-color);
	font-size: var(--xs-text-size);
	margin-top: 0.25rem;
}
